<header class="hed">
  <div class="hed_div">
    
    <%= link_to root_path, class: "hed_logo" do %>
      <%= image_tag "logo_dv.png", alt: "DataView Logo", class: "hed_logo" %>
    <% end %>

    <nav class="hed_nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Ejemplos</a></li>
        <li><a href="#">Manual</a></li>

        <% if user_signed_in? %>
          <li><a href="#">Subir Datos</a></li>
          <li><a href="#">Mis Archivos</a></li>
        <% end %>

        <li><%= link_to "Contacto", contact_path %></li>
        <li><a href="#">Acerca de</a></li>
      </ul>
    </nav>

    <% if user_signed_in? %>
      <div class="user-menu">
        <span class="user-link">
          Hola, <%= current_user.username %>
        </span>
        <ul class="dropdown">
          <li><a href="#">Configurar Perfil</a></li>
          <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <button class="hed-btn" onclick="window.location.href='<%= new_user_session_path %>'"> 
          Iniciar Sesión
          <div class="arrow-wrapper">
              <div class="arrow"></div>
          </div>
      </button>
    <% end %>


  </div>
</header>
