<header class="hed">
  <div class="hed_div">
    
    <%= link_to root_path, class: "hed_logo" do %>
      <%= image_tag "logo_dv.png", alt: "DataView Logo", class: "hed_logo" %>
    <% end %>


    <nav class="hed_nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Ejemplos</a></li>
        <li><a href="#">Manual</a></li>

        <% if user_signed_in? %>
          <li><a href="#">Subir Datos</a></li>
          <li><a href="#">Mis Archivos</a></li>
        <% end %>

        <li><%= link_to "Contacto", contact_path %></li>

      </ul>
    </nav>

    <% if user_signed_in? %>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "hed_btn" %>
    <% else %>
        <a href="<%= new_user_session_path %>" class="hed_btn">Iniciar Sesión</a>
    <% end %>

  </div>
</header>
