<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "DataView" %></title>
    
    <%# Web responsive %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%# Seguridad %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Icono de ventana %>
    <%= favicon_link_tag asset_path("icono.png") %>

    <%# Archivos CSS y JavaScript %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gradient-to-br from-blue-200 via-white to-blue-400 min-h-screen text-gray-800">
    <%= render "shared/header" %>

    <%= render "shared/notifications" %>
    <%= yield %>
    <%= render "shared/cookie_banner" %>
  
    <%= render "shared/footer" %>
  </body>
</html>
